.container {
    width: 70%;
    margin: 0 auto;
}

#btn_create {
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-group.date{
    width:30%;
}

.form-group.title {
    width:100%;
}