<html>
<head>
    <title>世大運跑馬燈管理系統</title>
    <link rel="stylesheet" href="resources/css/tether.min.css" type="text/css"/>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="resources/css/bootstrap-datetimepicker.min.css" type="text/css"/>
    <link rel="stylesheet" href="resources/css/bootstrap-dialog.min.css" type="text/css"/>
    <link rel="stylesheet" href="resources/css/bootstrap-table.min.css" type="text/css"/>
    <link rel="stylesheet" href="resources/css/index.css" type="text/css"/>

    <script src="resources/js/jquery-1.11.3.min.js"></script>
    <script src="resources/js/tether.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/moment.min.js"></script>
    <script src="resources/js/bootstrap-datetimepicker.min.js"></script>
    <script src="resources/js/bootstrap-dialog.min.js"></script>
    <script src="resources/js/bootstrap-table.min.js"></script>
    <script src="resources/js/validator.min.js"></script>
    <!--<script src="resources/js/Sortable.min.js"></script>-->
</head>
<body>
<div class="container">
    <button id="btn_create" class="btn btn-success" onclick="showDialog('add')">新增</button>
    <table id="table"></table>
</div>
<temp style="display:none;">
    <div id="createMarqueeDialog">
        <form id="form">
            <div class="form-group title">
                <label>跑馬燈內容</label>
                <input type="text" class="form-control" id="title" maxlength="64" data-error="*此為必填欄位" placeholder="請輸入文字, 最多64字元" required/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group date">
                <label>開始時間</label>
                <div class='input-group datetimepicker'>
                    <input type="text" class="form-control" id="start" maxlength="64" data-error="*此為必填欄位" placeholder="請選擇日期" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group date">
                <label>結束時間</label>
                <div class='input-group datetimepicker'>
                    <input type="text" class="form-control" id="end" maxlength="64" data-error="*此為必填欄位" placeholder="請選擇日期" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="help-block with-errors"></div>
            </div>
        </form>
    </div>
</temp>
<script>
    function initBootstrapTable() {
        $('#table').bootstrapTable({
            url:'/data',
            columns:[{
                field:'seq',
                title:'序號',
                align:'center',
                valign:'middle'
            }, {
                field:'title',
                title:'跑馬燈內容',
                valign:'middle'
            }, {
                field:'start_time',
                title:'開始時間',
                align:'center',
                valign:'middle'
            }, {
                field:'end_time',
                title:'結束時間',
                align:'center',
                valign:'middle'
            }, {
                field: 'adv_op',
                title: '進階操作',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return '<button class="btn btn-info" onclick="showDialog(\'edit\', \'' + row.seq + '\')">編輯</button>&nbsp' +
                        '<button class="btn btn-danger" onclick="deleteRow(this, \'' + row.seq + '\')">刪除</button>';
                }
            }],
//            }, {
//                field:'sort',
//                title:'排序',
//                align:'center',
//                valign:'middle',
//                formatter: function(value, row, index) {
//                    return '<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>';
//                },
//                cellStyle: function(value, row, index, field) {
//                    return {classes:'dragHandle'};
//                }
//            }],
            striped: true,
            rowAttributes: function(row, index) {
                return {'data-seq':row.seq};
            },
            onPostBody: function(data) {
                //initSortable();
            },
            //pagination:true,
        });
    }

    function initSortable() {
        var container = $("#table tbody")[0];
        var tableSortable = Sortable.create(container, {
            group:'marquee',
            animation: 150,
            handle: '.dragHandle',
            onUpdate: function(evt) {
                console.dir(evt.newIndex);
                console.dir(evt.oldIndex);
                console.dir(evt.item.dataset.seq);
            }
        });
    }

    function deleteRow(row, seq) {
        fetch("/del/"+seq, {
            method: 'GET'
        }).then(function(response) {
            if (!response.ok) {
                throw new Error(response.statusText)
            }
            return response.json();
        }).then (function(response) {
            refreshTable();
        }).catch(function(err) {
            alert(err);
        });
    }

    function showDialog(action, seq) {
        var dialogTitle;
        var url;
        var dialogType;
        var btnClass;
        var btnLabel;
        if (action == 'add') {
            dialogType = BootstrapDialog.TYPE_SUCCESS;
            dialogTitle = '新增跑馬燈內容';
            url = '/add';
            btnClass = 'btn-success';
            btnLabel = '新增';
        } else if (action == 'edit') {
            dialogType = BootstrapDialog.TYPE_INFO;
            dialogTitle = '修改跑馬燈內容';
            url = '/edit/'+seq;
            btnClass = 'btn-info';
            btnLabel = ' 修改';
        }

        BootstrapDialog.show({
            type: dialogType,
            size: BootstrapDialog.SIZE_WIDE,
            title: dialogTitle,
            message: function(dialogRef) {
                var $message = $('<div><div class="alert alert-danger" role="alert" style="display: none;"></div></div>');
                var $content = $('temp #createMarqueeDialog').clone();
                $message.append($content);
                return $message;
            },
            closable: true,
            draggable: true,
            onshow: function(dialogRef) {
                dialogRef.$modalBody.find('#form').first().validator();
                if (action == 'edit') {
                    fetch(url, {
                        method: 'GET'
                    }).then(function(response) {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json();
                    }).then(function(jsonData) {
                        dialogRef.$modalBody.find("#title")[0].value = jsonData.data.title;
                        dialogRef.$modalBody.find("#start")[0].value = jsonData.data.start_time;
                        dialogRef.$modalBody.find("#end")[0].value = jsonData.data.end_time;
                    }).catch(function(err) {
                        alert(err);
                    });
                }

                dialogRef.$modalBody.find('.datetimepicker').each(function(index) {
                    $(this).datetimepicker({
                        useCurrent: true,
                        sideBySide: true,
                        format:'YYYY-MM-DD HH:mm:ss'
                    });
                });
            },
            buttons:[{
                label: btnLabel,
                cssClass: btnClass,
                action: function(dialogRef) {
                    if (dialogRef.$modalBody.find('#form').first().validator('validate').has('.has-error').length > 0) {
                        return; /* See https://github.com/1000hz/bootstrap-validator/issues/148 */
                    }

                    fetch(url, {
                        method: 'POST',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                        body: JSON.stringify({
                            title: dialogRef.$modalBody.find('#title')[0].value,
                            start_time: dialogRef.$modalBody.find('#start')[0].value,
                            end_time: dialogRef.$modalBody.find('#end')[0].value
                        })
                    }).then(function(response) {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json();
                    }).then(function(jsonData) {
                        dialogRef.close();
                        refreshTable();
                    }).catch(function(err) {
                        alert(err);
                    });
                }
            }, {
                label: '取消',
                action: function(dialogRef) {
                    dialogRef.close();
                }
            }]
        });
    }

    function refreshTable() {
        $('#table').bootstrapTable('refresh', {silent:true});
    }

    $(function() {
        initBootstrapTable();
    });
</script>
</body>

</html>